In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [37]:
df=pd.read_csv('data/patient.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   patientunitstayid          2520 non-null   int64
 1   patienthealthsystemstayid  2520 non-null   int64
 2   gender                     2516 non-null   object
 3   age                        2516 non-null   object
 4   ethnicity                  2481 non-null   object
 5   hospitalid                 2520 non-null   int64
 6   wardid                     2520 non-null   int64
 7   apacheadmissiondx          2221 non-null   object
 8   admissionheight            2451 non-null   float64
 9   hospitaladmittime24        2520 non-null   object
 10  hospitaladmitoffset        2520 non-null   int64
 11  hospitaladmitsource        1926 non-null   object
 12  hospitaldischargeyear      2520 non-null   int64
 13  hospitaldischargetime24    2520 non-null   object
 14  hospitaldischargeoffset    2520 non-null   int64
 15  hospitaldischargelocation  2488 non-null   object
 16  hospitaldischargestatus    2492 non-null   object
 17  unittype                   2520 non-null   object
 18  unitadmittime24            2520 non-null   object
 19  unitadmitsource            2498 non-null   object
 20  unitvisitnumber            2520 non-null   int64
 21  unitstaytype               2520 non-null   object
 22  admissionweight            2322 non-null   float64
 23  dischargeweight            1236 non-null   float64
 24  unitdischargetime24        2520 non-null   object
 25  unitdischargeoffset        2520 non-null   int64
 26  unitdischargelocation      2516 non-null   object
 27  unitdischargestatus        2518 non-null   object
 28  uniquepid                  2520 non-null   object
dtypes: float64(3), int64(9), object(17)
memory usage: 571.1+ KB

,patientunitstayid,patienthealthsystemstayid,gender,age,ethnicity,hospitalid,wardid,apacheadmissiondx,admissionheight,hospitaladmittime24,...,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus,uniquepid
0,141764,129391,Female,87,Caucasian,59,91,NaN,157.5,23:36:00,...,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive,002-1039
1,141765,129391,Female,87,Caucasian,59,91,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,...,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive,002-1039
2,143870,131022,Male,76,Caucasian,68,103,"Endarterectomy, carotid",167.0,20:46:00,...,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive,002-12289
3,144815,131736,Female,34,Caucasian,56,82,"Overdose, other toxin, poison or drug",172.7,01:44:00,...,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive,002-1116
4,145427,132209,Male,61,Caucasian,68,103,"GI perforation/rupture, surgery for",177.8,23:48:00,...,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive,002-12243

In [38]:
# supprimer les colonnes inutiles
df=df.drop(['patientunitstayid','patienthealthsystemstayid','hospitalid','wardid','uniquepid'],axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     2516 non-null   object
 1   age                        2516 non-null   object
 2   ethnicity                  2481 non-null   object
 3   apacheadmissiondx          2221 non-null   object
 4   admissionheight            2451 non-null   float64
 5   hospitaladmittime24        2520 non-null   object
 6   hospitaladmitoffset        2520 non-null   int64
 7   hospitaladmitsource        1926 non-null   object
 8   hospitaldischargeyear      2520 non-null   int64
 9   hospitaldischargetime24    2520 non-null   object
 10  hospitaldischargeoffset    2520 non-null   int64
 11  hospitaldischargelocation  2488 non-null   object
 12  hospitaldischargestatus    2492 non-null   object
 13  unittype                   2520 non-null   object
 14  unitadmittime24            2520 non-null   object
 15  unitadmitsource            2498 non-null   object
 16  unitvisitnumber            2520 non-null   int64
 17  unitstaytype               2520 non-null   object
 18  admissionweight            2322 non-null   float64
 19  dischargeweight            1236 non-null   float64
 20  unitdischargetime24        2520 non-null   object
 21  unitdischargeoffset        2520 non-null   int64
 22  unitdischargelocation      2516 non-null   object
 23  unitdischargestatus        2518 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 472.6+ KB

,gender,age,ethnicity,apacheadmissiondx,admissionheight,hospitaladmittime24,hospitaladmitoffset,hospitaladmitsource,hospitaldischargeyear,hospitaldischargetime24,...,unitadmittime24,unitadmitsource,unitvisitnumber,unitstaytype,admissionweight,dischargeweight,unitdischargetime24,unitdischargeoffset,unitdischargelocation,unitdischargestatus
0,Female,87,Caucasian,NaN,157.5,23:36:00,-2258,NaN,2015,19:20:00,...,13:14:00,ICU to SDU,2,stepdown/other,NaN,NaN,18:58:00,344,Home,Alive
1,Female,87,Caucasian,"Rhythm disturbance (atrial, supraventricular)",157.5,23:36:00,-8,NaN,2015,19:20:00,...,23:44:00,Emergency Department,1,admit,46.5,45.0,13:14:00,2250,Step-Down Unit (SDU),Alive
2,Male,76,Caucasian,"Endarterectomy, carotid",167.0,20:46:00,-1,Operating Room,2014,17:05:00,...,20:47:00,Operating Room,1,admit,77.5,79.4,10:00:00,793,Floor,Alive
3,Female,34,Caucasian,"Overdose, other toxin, poison or drug",172.7,01:44:00,-23,Emergency Department,2015,21:05:00,...,02:07:00,Emergency Department,1,admit,60.3,60.7,20:48:00,1121,Other External,Alive
4,Male,61,Caucasian,"GI perforation/rupture, surgery for",177.8,23:48:00,-10,Emergency Department,2014,15:41:00,...,23:58:00,Operating Room,1,admit,91.7,93.1,22:47:00,1369,Floor,Alive

In [39]:
# compter les valeurs manquantes par colonne
df.isnull().sum()

gender                          4
age                             4
ethnicity                      39
apacheadmissiondx             299
admissionheight                69
hospitaladmittime24             0
hospitaladmitoffset             0
hospitaladmitsource           594
hospitaldischargeyear           0
hospitaldischargetime24         0
hospitaldischargeoffset         0
hospitaldischargelocation      32
hospitaldischargestatus        28
unittype                        0
unitadmittime24                 0
unitadmitsource                22
unitvisitnumber                 0
unitstaytype                    0
admissionweight               198
dischargeweight              1284
unitdischargetime24             0
unitdischargeoffset             0
unitdischargelocation           4
unitdischargestatus             2
dtype: int64

In [42]:
# supprimer les colonnes avec plus de 10% de valeurs manquantes
df=df.dropna(thresh=0.9*len(df),axis=1)

gender                         4
age                            4
ethnicity                     39
admissionheight               69
hospitaladmittime24            0
hospitaladmitoffset            0
hospitaldischargeyear          0
hospitaldischargetime24        0
hospitaldischargeoffset        0
hospitaldischargelocation     32
hospitaldischargestatus       28
unittype                       0
unitadmittime24                0
unitadmitsource               22
unitvisitnumber                0
unitstaytype                   0
admissionweight              198
unitdischargetime24            0
unitdischargeoffset            0
unitdischargelocation          4
unitdischargestatus            2
dtype: int64

In [43]:
# supprimer les lignes avec des valeurs manquantes
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2232 entries, 1 to 2519
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     2232 non-null   object
 1   age                        2232 non-null   object
 2   ethnicity                  2232 non-null   object
 3   admissionheight            2232 non-null   float64
 4   hospitaladmittime24        2232 non-null   object
 5   hospitaladmitoffset        2232 non-null   int64
 6   hospitaldischargeyear      2232 non-null   int64
 7   hospitaldischargetime24    2232 non-null   object
 8   hospitaldischargeoffset    2232 non-null   int64
 9   hospitaldischargelocation  2232 non-null   object
 10  hospitaldischargestatus    2232 non-null   object
 11  unittype                   2232 non-null   object
 12  unitadmittime24            2232 non-null   object
 13  unitadmitsource            2232 non-null   object
 14  unitvisitnumber            2232 non-null   int64
 15  unitstaytype               2232 non-null   object
 16  admissionweight            2232 non-null   float64
 17  unitdischargetime24        2232 non-null   object
 18  unitdischargeoffset        2232 non-null   int64
 19  unitdischargelocation      2232 non-null   object
 20  unitdischargestatus        2232 non-null   object
dtypes: float64(2), int64(5), object(14)
memory usage: 383.6+ KB